html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-style: italic;
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
}

.main-container {
  width: 100%;
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
}

.inner-cont {
  height: 100%;
  width: 100%;
  padding: 24px 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-nav {
  width: 100%;
  max-width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-nav button {
  width: 32px;
  height: 32px;
  display: block;
  background: url("../images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-nav button:hover {
  opacity: 0.65;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.slider-nav .right-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

h1 {
  font-family: "Montserrat-ExtraBold", Arial, Helvetica, sans-serif;
  font-size: 64px;
  line-height: 74px;
}

h2 {
  font-family: "Montserrat-ExtraBold", Arial, Helvetica, sans-serif;
  font-size: 56px;
  line-height: 66px;
}

h3 {
  font-family: "Montserrat-ExtraBold", Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 58px;
}

h4 {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
}

h5 {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
}

h6 {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
}

span {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

p, a, li, button, input, input::-webkit-input-placeholder {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

p, a, li, button, input, input:-ms-input-placeholder {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

p, a, li, button, input, input::-ms-input-placeholder {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

p, a, li, button, input, input::placeholder {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

strong, b {
  font-weight: 700;
}

#fp-nav ul li, .fp-slidesNav ul li {
  margin: 20px 7px !important;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: white !important;
}

#fp-nav ul li .fp-tooltip.show-text {
  -webkit-transition: opacity 0.2s ease-in !important;
  transition: opacity 0.2s ease-in !important;
  width: auto;
  opacity: 1 !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.godown {
  -webkit-animation: neutralAni 700ms forwards;
          animation: neutralAni 700ms forwards;
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  font-weight: bold;
}

.change-bg {
  -webkit-animation: change-bg 700ms forwards;
          animation: change-bg 700ms forwards;
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s;
}

.show-after {
  -webkit-animation: show-after 700ms forwards;
          animation: show-after 700ms forwards;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes neutralAni {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes neutralAni {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes change-bg {
  100% {
    opacity: 0;
  }
}

@keyframes change-bg {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes show-after {
  100% {
    opacity: 1;
  }
}

@keyframes show-after {
  100% {
    opacity: 1;
  }
}

#hero {
  position: relative;
  height: 100vh;
  background: url("../images/banner-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#hero .hero-outer-cont {
  height: 100%;
  width: 100%;
}

#hero .hero-outer-cont:first-child {
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;
}

#hero .hero-outer-cont:last-child {
  background-size: cover;
  color: #333;
  opacity: 0;
}

#hero .hero-outer-cont:last-child .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .hero-outer-cont:last-child .main-container .inner-cont {
  height: auto;
}

#hero .first-banner {
  text-align: center;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .secon-banner .wrap-content .hero-cont {
  width: 100%;
  position: relative;
  max-width: 700px;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  background: white;
  padding: 56px 32px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

#hero .secon-banner .wrap-content .hero-cont .pic-of-me {
  width: 150px;
  height: 150px;
  margin: 0 auto 24px;
  border-radius: 50%;
  background: white;
  text-align: center;
}

#hero .secon-banner .wrap-content .hero-cont .pic-of-me img {
  width: 95%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}

#hero .secon-banner .wrap-content .hero-cont h3 {
  margin-bottom: 10px;
  text-align: center;
}

#hero .secon-banner .wrap-content .hero-cont p {
  text-align: center;
}

/*MAIN CONTENT*/
#main {
  padding: 24px 15vw;
  max-width: 100vw;
  background-color: #222;
  color: white;
}

#main h1 {
  font-size: 2em;
  line-height: 1.25em;
}

.fullcat {
  margin-top: 72px;
  padding-bottom: 24px;
  -webkit-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.fullcat h1 {
  margin-bottom: 12px;
}

/*BACKGROUND*/
.backgrounds-row {
  margin: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.backgrounds-col {
  width: 33.333%;
}

.backgrounds-col:first-child {
  padding-right: 5px;
}

.backgrounds-col:last-child {
  padding-left: 5px;
}

.backgrounds-col:nth-child(2) {
  padding: 0 5px;
}

.backgrounds-col h5 {
  margin-bottom: 8px;
}

.sec-row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sec-col:last-child {
  width: 66.666%;
}

/*WORKS*/
a {
  text-decoration: none;
  color: white;
}

.workrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 48px auto 0 auto;
  /* WORK COLUMN */
}

.workrow h1 {
  margin-bottom: 24px;
}

.workrow .work-col {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 33.333%;
  color: #333;
  margin: 0;
  padding: 0 10px 20px;
}

.workrow .work-col .wrap {
  background: white;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 56px;
}

.workrow .work-col .top {
  padding: 12px 8px 0;
}

.workrow .work-col .top .img-cont {
  width: 100%;
  overflow: hidden;
}

.workrow .work-col .top .img-cont img {
  height: auto;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.workrow .work-col .top h1 {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workrow .work-col .top .work-des p {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

.workrow .work-col .top .tags {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

.workrow .work-col .top .tags .type {
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 8px 5px 0 0;
}

.workrow .work-col .top .tags .type.per {
  background: #00A368;
}

.workrow .work-col .top .tags .type.pro {
  background: #E72737;
}

.workrow .work-col .top .tags .type.htm {
  background: #E72737;
}

.workrow .work-col .top .tags .type.css {
  background: #0763E5;
}

.workrow .work-col .top .tags .type.jss {
  background: #d1d419;
}

.workrow .work-col .top .tags .type.jqu {
  background: #0F50B5;
}

.workrow .work-col .top .tags .type.vue {
  background: #4cac0c;
}

.workrow .work-col .work-links {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.workrow .work-col .work-links a {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: inline-block;
  border: none;
  background-color: #FFA500;
  color: white;
  padding: 10px 12px;
  font-size: 18px;
}

.workrow .work-col .work-links a:hover {
  opacity: 0.8;
}

#cat-works {
  margin-bottom: 86px;
}

footer {
  width: 100%;
  height: 460px;
  background: url("../images/banner-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

footer .inner-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
  opacity: 0;
}

footer .inner-container .pic-of-me {
  width: 150px;
  height: 150px;
  margin: 0 auto 10px;
  border-radius: 50%;
  background: white;
  text-align: center;
}

footer .inner-container .pic-of-me img {
  width: 95%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}

footer .inner-container .message {
  position: absolute;
  top: 24px;
  left: calc(50% + 50px);
  background: white;
  padding: 12px;
  border-radius: 8px;
  width: 240px;
}

footer .inner-container .message span {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

footer .inner-container .message:after {
  content: '';
  position: absolute;
  left: 12px;
  bottom: -10px;
  border-top: 15px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

footer .inner-container .socials a {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

footer .inner-container .socials a:first-child {
  -webkit-animation-delay: 600 !important;
          animation-delay: 600 !important;
}

footer .inner-container .socials a:nth-child(2) {
  -webkit-animation-delay: 1200ms !important;
          animation-delay: 1200ms !important;
}

footer .inner-container .socials a:nth-child(3) {
  -webkit-animation-delay: 1800ms !important;
          animation-delay: 1800ms !important;
}

footer .inner-container .socials a:last-child {
  -webkit-animation-delay: 2400ms !important;
          animation-delay: 2400ms !important;
}

footer .inner-container.active {
  -webkit-animation: showme 1s forwards;
          animation: showme 1s forwards;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

footer .inner-container.active .socials a {
  -webkit-animation: showme 500ms forwards;
          animation: showme 500ms forwards;
}

#arrow-go-down {
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: updown 1s linear infinite;
          animation: updown 1s linear infinite;
  background: url("../images/godown.png");
  background-size: cover;
  cursor: pointer;
  opacity: 0.7;
}

@-webkit-keyframes updown {
  50% {
    -webkit-transform: translate(-50%, -8px);
            transform: translate(-50%, -8px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes updown {
  50% {
    -webkit-transform: translate(-50%, -8px);
            transform: translate(-50%, -8px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@-webkit-keyframes showme {
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes showme {
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.showcontent {
  opacity: 1 !important;
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}
/*# sourceMappingURL=main.css.map */